
h1 {
    font: normal normal bold 36px/55px Playfair Display;
    color: #333;
    text-align: left;
}

h5 {
    font: normal normal bold 20px Playfair Display;
    color: #333;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

.jumbotron {
    height: 500px;
    padding-top: 315px;
}

.copy-container-left {
    float: left;
    width: 650px;
    padding-left: 200px;
}

.copy-container-right {
    float: left;
    width: 650px;
    padding-right: 200px;
}

.container {
    width: 750px;
    float: left;
    padding-left: 75px;
    padding-right: 25px;
}

.jumbotron {
    background-image: url(../images/non-profit-hero@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel {
    width:700px; 
    height: auto;
}

.imageContainer {
    padding-left: 75px;
}

.pagination-container {
    height: 250px;
}

.home-button {
    font: normal normal bold 16px/20px Lato;
    text-align: center;
    color: #9A584D;
    text-decoration: none;
    display: block;
}

.home-button:hover {
    color: #CB8158;
    text-decoration-line: underline;
}

.button-container {
    height: 100px;
}